:root {
  --body-bg-color: #121214;
  --text-color: #E1E1E6;
  --title-color: #04D361;
  --form-color: #A8A8A8;
  --bg-button-color: #8257e5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg-color);
}

.container {
  display: flex;
  flex-direction: row;
  
  height: 100vh;
}

.side1 {
  width: 50%;
  margin: 51px 30px;
}

.side2 {
  width: 50%;
  background: url(/assets/read_news.jpg) no-repeat;
  background-size: cover;
  background-position:100%;
}

.logo {
  width: 24rem;
}

.boxContent {
  margin-top: 91px;
  line-height: 2rem;
}

.boxContent h1 {
  font-size: 1.5rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: var(--title-color);
}

.boxContent p {
  font-size: 0.9rem;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  color: var(--text-color);
}

.boxContent span {
  font-size: 0.9rem;
  font-family: "Spartan", sans-serif;
  font-weight: 400;
  color: var(--text-color);
}

.formContent{
  margin-top: 50px;
}

.formContent h1{
  font-size: 0.9rem;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  color: var(--form-color);
}

.form {
  display: flex;
  align-items: center;
}

.form input {

  padding: 16px;

  font-family: "Work Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  width: 60rem;
  height: 3rem;
  outline: none;
  border-left: 5px solid var(--title-color);
  border-top: none;
  border-bottom: none;
  border-right: none;

  box-shadow: 55px 10px 14px 0px var(--body-bg-color);
}

.inputContainer {
  position: relative;
  width: 50rem;
  height: 100px;
}

.inputContent {
  display: flex;
  position: absolute;
}

.form button {
  background-color: var(--bg-button-color);
  color: var(--text-color);
  border: none;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: 0.2s;
}

.form button:hover {
  background-color: rgb(127, 58, 255);
}

a {
  text-decoration: none;

  display: flex;
  align-items: center;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: var(--bg-button-color);
  transition: 0.2s;
}

a:hover {
  color: rgb(127, 58, 255);
}
